.carousel-item {
  height: 500px;
}

.carouselPosition {
  margin: auto;
  position: relative;
  top: 50%;
  left: 50%;
}

.image {
  height: 500px;
  margin: auto;
}

#exampleSlides {
  margin-top: 150px;
}

.navbar {
  padding-left: 60px;
  /* margin-left: 60px; */
}
